section#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 1rem;
  .card {
    position: relative;

    border-radius: 15px;

    opacity: 0.6;
    cursor: pointer;
    overflow: hidden;
    @include soft_transition;

    .img-container {
      padding: 4px;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }

    .price {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include black-bg;
      cursor: pointer;
    }
    .description {
      @include black-bg;
      position: absolute;
      width: 110%;
      margin: 5px;
      bottom: 5px;
      font-size: 0.8rem;
      transform: translateX(130%);

    @include soft_transition;

    }
    &:hover {
      opacity: 1;
    }
    &:hover .description {

      transform: translateX(0);
     
    }
  }
}


@media screen and (max-width:1000px){
  section#content { 
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
     
  }
  
}

@media screen and (max-width:700px){
  section#content { 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
     
  }
  
}

@media screen and (max-width:500px){
  section#content { 
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
     
  }
  
}