

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    button{
        height: 40px;
        padding: 0 1rem;
        font-size: 17px;
        white-space: nowrap;
        text-transform: capitalize;
        background-color: $cream-color;
        border: none;
        border-radius: 13px;
        color: $brown-color;
        cursor: pointer;
        @include soft_transition;
        &:hover{
            background-color: $green-color;
            color:$black-color;
        }

    }
}